language: 
  - cpp
  - python
python: 3.7
compiler: 
  - gcc

before_script:
  - pip3 install cmake
  - pip3 install conan
  - if [ NOT "$TRAVIS_OS_NAME" = "windows" ]; then source ~/.profile && echo "This is Linux/Macos"; fi
jobs:
  include:
   - os: linux
     arch: amd64
     addons:
      apt:
        packages:
          - "python3"
          - "python3-pip"
          - "python3-setuptools"
   - os: linux
     arch: arm64
     dist: trusty
     addons:
      apt:
        packages:
          - "python3"
          - "python3-pip"
          - "python3-setuptools"
   - os: osx
     compiler: clang
     - os: windows
       env: PATH=/c/Python38:/c/Python38/Scripts:$PATH
       install:
        - choco install python --version=3.8.2
        - python -m pip install -U pip setuptools

script:
  - mkdir build && cd build
  - if [ NOT "$TRAVIS_OS_NAME" = "windows" ]; then conan install ../ --build missing && conan build ../ ; fi
  - if [ "$TRAVIS_OS_NAME" = "windows" ]; then conan install ../ --build missing --profile ../win_profile && conan build ../ ; fi
  - bin/./op