language: 
  - cpp
  - python
python: 3.8
compiler: 
  - gcc

before_script:
  - pip3 install cmake
  - pip3 install conan
jobs:
  include:
   - os: linux
     arch: amd64
     addons:
      apt:
        packages:
          - "python3"
          - "python3-pip"
          - "python3-setuptools"
   - os: linux
     arch: arm64
     dist: trusty
     addons:
      apt:
        packages:
          - "python3"
          - "python3-pip"
          - "python3-setuptools"
   - os: osx
     compiler: clang
   - os: windows
     env: PATH=/c/Python38:/c/Python38/Scripts:$PATH
     install:
     - choco install python --version=3.8.2
     - python -m pip install -U pip setuptools
     script: 
     - mkdir build && cd build
     - conan install ../ --build missing --profile ../win_profile && conan build ../
     - bin/./op

script:
  - source ~/.profile
  - mkdir build && cd build
  - conan install ../ --build missing && conan build ../
  - bin/./op