language: 
  - cpp
  - python
python: 3.7
compiler: 
  - gcc

before_script:
  - pip install --upgrade pip
  - pip3 install cmake
  - pip3 install conan
  - source ~/.profile
jobs:
  include:
  #  - os: linux
  #    arch: amd64
  #    addons:
  #     apt:
  #       packages:
  #         - "python3"
  #         - "python3-pip"
  #         - "python3-setuptools"
  #  - os: linux
  #    arch: arm64
  #    dist: trusty
  #    addons:
  #     apt:
  #       packages:
  #         - "python3"
  #         - "python3-pip"
  #         - "python3-setuptools"
   - os: osx
     compiler: clang

script:
  - mkdir build && cd build
  - conan install ../ --build missing && conan build ../
  - bin/./op